@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  html {
    height: 100vh;
    font-size: 12px; /* 1rem = 16px */
  }
  body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: #f0f2f5;
  }
  .letter-default {
    letter-spacing: -0.063rem;
  }
 .letter-spacing3 {
    letter-spacing: 0.02rem;
  }
}
@layer utilities {
  .btnClass {
    @apply flex items-center justify-center rounded-[0.5rem] shadow-sm  focus:outline-none;
  }
  .navLinkText {
    @apply text-greyAsh text-md font-medium letter-default
  }
}
